<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="RawExtensions" value=".CR2|.ORF|.RW2"/>
    <add key="RawDirectory" value="RAW"/>
    <add key="StackedDirectory" value="Stacked"/>
    <add key="HeliconFocusPath" value="C:\Program Files\Helicon Software\Helicon Focus 7\HeliconFocus.exe"/>
    <add key="CygwinRunPath" value="c:\cygwin64\bin\run.exe"/>
    <add key="JpgQuality" value="95"/><!--Percent or 0-12?-->
    <add key="VerticalAdjustment" value="5"/><!--Percent-->
    <add key="HorizontalAdjustment" value="5"/><!--Percent-->
    <add key="RotationAdjustment" value="3"/><!--Degrees-->
    <add key="MagnificationAdjustment" value="5"/><!--Percent-->
    <add key="BrightnessAdjustment" value="true"/><!--Boolean-->
    <add key="InterpolationMethod" value="2"/><!--1=Bilinear-->
  </appSettings>
</configuration>
